 h5h4#carousel-caption{
    color: pink;
    background-color: black;
    opacity: 70%

  }

  #button {
    background-color: /* blue*/
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #button {border-radius: 30px;}

#wedoit{
  text-align: center;
color: #17a2b8;
text
}

#wedobest{
  text-align: center;
}
.button{
  padding: 2px 2px 2px 2px;
  width: 100%;
  height: 100%;
}
#ps{
  text-align: left;
}
.row{
  text-align: center;
  image-align: center;
}
#quicksimple{
  text-align: center;

border-radius: 100%;
right: 50%
}

#head{
text-align: center;
color: #00bcd4 ;
}
#bookaservice{
  text-align: center;
}
.img{
  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3),inset 0 5px 5px rgba(0,0,0,0.5)
}
#num{
  border-radius: 100%;
 height: auto;
}
#thepet{
  background-color: #00bcd4 ;
  text-align: center;
color: black;
}
#thepetside{
  text-align: center;
  color: white ;
  font-size: xxx-large ;
}

#thepetsided:hover{
    border-radius: 10%;
   height: auto;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
    .btn-outline-light {

      border-color: #607D8B;

    }
a
{
        color: #161617 ;
        text-decoration: none;
        background-color: transparent;
    }
#loveus{
  text-align: center;
  color: ##27464a;
}
h4 {
color: #00bcd4  ;
font-size: xxx-large ;
}

h5{
  color: black ;
}
#row{
  text-align: center;

border-radius: 100%;
}
#welovepets{
  background-color : #dedcdc;
  text-align: center;
color: black;
}
#card{
  text-align: center;
  margin: auto;
}
.networkofcaring img{
  position: relative;
  width: 100%;
  height: auto;
}

#wearepossible{
  background-image: url("../img/hands.png") ;
  background-size: 100% 100%;
     padding: 80px 0;
     background-repeat: no-repeat;
     position: relative;
  background-color: #cccccc;

}
#wearepossiblep{
  text-align: center;
      margin: auto;
      color: #fff;
}
#thepetsideteam{
  position: absolute;
    left: 43px;
    top: auto;
}
#Their{
  text-align: center;
    padding: 30px;
    color: #4bc1e1;
    font-size: 40px;
    font-family: Proxima Nova Rg;
    font-weight: 700;
}
#their{
text-align: center;
margin-top: -23px;
font-size: 14px;
color: #50c1e0;
font-family: Proxima Nova Rg;
font-weight: 500
}
#admin1{
  text-align: center;
image-align: center;
border-radius: 100%;}
#quote{
  image-align: center;
}
#contact{
text-align: center;
    padding-top: 32px;
    color: #4bc1e1;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: left;
  }
  #Office{
      padding-top: 5px;
      color: #4bc1e1;
      font-size: 25px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      text-align: left;
  }
  #add{
      padding-top: 5px;
      color: black;
      font-size: 23px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      text-align: left;
  }
  .text-box {
    position: absolute;
    top: 46%;
    right: 14%;
    text-align: center;
    transform: translateY(-50%);
    text-align: right;
}
h2.wow.slideInRight {
    color: #09c;
    font-family: Proxima Nova Rg;
    font-weight: 700;
    font-size: 40px;
}
carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}
button.btn.btn-default.down1 {
    font-size: 14px;
    font-family: open sans;
    margin: 24px 0 0 0;
    background: #6c3;
    color: #fdfdfd;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    float: right;
    padding: 6px 33px;
    font-family: open sans;
}
#slider-animation .carousel-inner {
    overflow: hidden !important;
}
p.num{
  font-weight: 600;
  font-size: 15px;
  margin-top: 45px;
  color: white;
}

#service-tabs {
    padding: 60px 0 0 0;
    font-family: 'Poppins', sans-serif;
  }
  .head_title {
    color: #4bc1e1;
    text-align: center;
    padding: 20px 0 0 0;
    font-family: Proxima Nova Rg;
    font-weight: 700;
    font-size: 3.125em;
}
.head_title {
    color: #4bc1e1;
    text-align: center;
    padding: 20px 0 0 0;
    font-family: Proxima Nova Rg;
    font-weight: 700;
    font-size: 3.125em;
}
#Ourservices{
text-align: center;
    padding-top: 32px;
    color: #4bc1e1;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    text-align: center;
  }
  #service-tabs .our_service_right_col {
padding: 80px 20px 60px 50px;
      background-color: #f4f5f6;
  }
  service-tabs .our_service_left_col, #service-tabs .our_service_right_col {
    padding-left: 0;
    padding-right: 0

}
.our_service_left_col img {
    width: 100%;
}
.pet_day_care_ul li {
    margin-top: 30px;
    text-align: left;
    font-size: 14px;
}

li, ul {
    list-style-type: none;}

.pet_day_care_heading {
    font-family: 'Poppins', sans-serif;
    color: #4bc1e1;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
}
tabs{
padding: 80px 20px 60px 50px;

}
.pet_day_care_head{
    font-family: 'Poppins', sans-serif;
    color: #4bc1e1;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
span.numbering {
    border-radius: 100%;
    border: 2px solid #fffbfb;
    padding: 2px;
    padding: 0px 6px;
    /* color: #333; */
}
